@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

*{
    font-display: fallback;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    cursor: none;
    color: white;
}
body{
    padding: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: left;
    text-align: left;
}

.portrait-mode{
    display: none;
}

.bash-identifier{
    opacity: 1;
    color: #4CAF50;
}

.cursor {
    height: 20px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 10px solid;

    -webkit-animation: typing 3s steps(13, end) forwards,
        blinking 1s step-end infinite;
    animation: typing 3s steps(13, end) forwards,
        blinking 1s step-end infinite;
}

input{
    border: 0;
    color: transparent;
    text-shadow: 0 0 0 white;
    width: 5vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}
*:focus{
    outline: none;
}

pre{
    margin: 0;
    display: inline;
}

/* OUT OF THE SCREEN TO BE INVISIBLE */
textarea#setter  {
    left: -1000px;
    position: absolute;
}

#getter {
    margin: 5px;
}

img{
    width: 20vw;
    height: 20vw;
    border: 3px solid #4CAF50;
}


/* BLOG POSTS */

.blog-post-content{
    width: 50%;
    border: 2vw double #4CAF50;
    margin: 0 auto;
    padding: 8vw;
}
.blog-post-content > .content{
    text-align: justify;
}
.blog-post-content > .content > img{
    display: none;
}
.blog-post-content > .content img{
    text-align: center;
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.blog-post-content figcaption{
    font-size: 10px;
    padding: 20px;
}
.blog-post-content blockquote{
    font-style: italic;
    border-style: none none none solid;
    border-width: 3px;
    border-color: rgba(255, 255, 255, .5);
}
.blog-post-content > .title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.blog-post-content > .date{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.blog-post-content pre{
    opacity: 0.6;
    margin: 0 auto;
}
.blog-post-content h4{
    font-size: 25px;
}
.blog-post-content h3{
    font-size: 40px;
}

/* THIS BUTTON IS VISIBLE ON MOBILE ONLY */
button{
    border: 2px solid #4CAF50;
    font-size: 16px;
    padding: 5px;
    width: 100px;
}
button:active{
    background-color: #4CAF50;
    color: black;
}

.skill-level-high{
  color: #2e7d32;
}

.skill-level-medium-high{
  color: #43a047;
}

.skill-level-medium{
  color: #81c784;
}

.skill-level-medium-low{
  color: #fff176;
}

.skill-level-low{
  color: #ffd54f;
}


@-webkit-keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: #4CAF50; }
}

@keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: #4CAF50; }
}


@media only screen and (orientation: portrait){

    .css-typing{
        display: none;
    }
    .portrait-mode{
        display: block;
        margin: 0 auto;
        margin-top: 5vh;
        font-size: 20px;
    }

    .rotate-image{
        -webkit-animation: spin1 2s infinite linear;
        -moz-animation: spin1 2s infinite linear;
        -o-animation: spin1 2s infinite linear;
        -ms-animation: spin1 2s infinite linear;
        animation: spin1 2s infinite linear;
        width: 20vw;
        margin: 0 auto;
        margin-bottom: 10vw;
        display: block;
        border: 0;
    }


    @-webkit-keyframes spin1 {
        0% { -webkit-transform: rotate(0deg);}
        50% {-webkit-transform: rotate(45deg);}
        100% { -webkit-transform: rotate(0deg);}
    }
    @-moz-keyframes spin1 {
        0% { -moz-transform: rotate(0deg);}
        50% {-moz-transform: rotate(45deg);}
        100% { -moz-transform: rotate(0deg);}
    }
    @-o-keyframes spin1 {
        0% { -o-transform: rotate(0deg);}
        50% {-o-transform: rotate(45deg);}
        100% { -o-transform: rotate(0deg);}
    }
    @-ms-keyframes spin1 {
        0% { -ms-transform: rotate(0deg);}
        50% {-ms-transform: rotate(45deg);}
        100% { -ms-transform: rotate(0deg);}
    }
    @-keyframes spin1 {
        0% { transform: rotate(0deg);}
        50% {transform: rotate(45deg);}
        100% { transform: rotate(0deg);}
    }

}


@media only screen and (min-width: 500px){
    body{
        height: 20vh;
        padding: 2vw;
    }
    .css-typing{
        max-width: 100vw;
    }
}
