/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url("styles.css");

/* TOP PRESENTATION CARD (CARD.JS) */
.card-title{
  color: white;
  font-size: 40px;
}

.profile-pic{
  border-radius: var(--border-radius-big);
  width: 50vw;
  margin-top: -260px;
  margin-left: 110px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 30px -20px black;
}

.card-background{
  width: 100vw;
  padding: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 10px;
  background-color: var(--main-color-green);
}

.bt-downloadCV{
  width: 70vw;
  height: 10vh;
  font-size: 20px;
  color: #FFF;
  background-color: black;
  border-width: 0;
  margin-top: -25vh;
  margin-bottom: 10vh;
  box-shadow: 0px 0px 20px -20px #000;
}

.paragraph{
  margin-top: 20px;
  font-size: 15px;
  max-width: 70%;
  text-align: justify;
  color: white;
}
/* --------------- */


/* TIMELINE */
.timeline-element{
  margin-top: 20px;
  width: 100%;
  height: 60px;
}
.timeline-element > div > p > .element-title{
  font-size: 12px;
  text-align: left;
}
.timeline-element > div{
  margin-top: 10px;
}
.timeline-element > div > .element-description{
  float: left;
  width: 50%;
  font-size: 15px;
  text-align: left;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.timeline-pic{
  margin-left: 15%;
  width: 70px;
  height: 60px;
  border-radius: 4px;
}
.timeline-element-year{
  font-size: 10px;
  opacity: 0.3;  
}




/* DESKTOP VERSION */
@media only screen and (min-width: 660px){

  .cardPresentation{
    margin: 0 auto;
    width: 60%;
    height: 60%;
  }

  .bt-downloadCV{
    width: 65%;
    margin-top: 0;
  }

  .paragraph{
    margin-top: 0px;
    font-size: 20px;
    max-width: 70%;
  }

}
