/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url("styles.css");

/* TOP PRESENTATION CARD (CARD.JS) */
.card-title{
  color: white;
  font-size: 40px;
}

.profile-pic{
  border-radius: var(--border-radius-big);
  width: 50vw;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  box-shadow: 0px 10px 30px -20px black;
}

.card-background{
  width: 70vw;
  padding: 30px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 2vh;
  background-color: #2EDBC1;
  border-radius: var(--border-radius-main);
}

.card-background .inside{
  margin-top: -5vh;
  padding: 10px;
  padding-bottom: 0;
  width: 60vw;
  background-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 10px 30px -20px black;
}

.bt-downloadCV{
  width: 70vw;
  height: 10vh;
  font-size: 20px;
  color: #FFF;
  background-color: black;
  border-width: 0;
  margin-top: -25vh;
  margin-bottom: 10vh;
  box-shadow: 0px 0px 20px -20px #000;
}

.paragraph{
  margin-top: 20px;
  font-size: 15px;
  max-width: 95%;
  text-align: left;
  color: white;
}
/* --------------- */





/* DESKTOP VERSION */
@media only screen and (min-width: 660px){

  .cardPresentation{
    margin: 0 auto;
    width: 60%;
    height: 60%;
  }

  .bt-downloadCV{
    width: 65%;
    margin-top: 0;
  }

  .paragraph{
    margin-top: 0px;
    font-size: 20px;
    max-width: 70%;
  }

}
