/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url("styles.css");

/* TOP PRESENTATION CARD (CARD.JS) */
.card-title{
  color: black;
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
}

.profile-pic{
  border-radius: 50%;
  width: 300px;
  margin-top: -40vh;
  margin-left: 55vw;
  margin-bottom: 10vh;
  box-shadow: 0px 10px 30px -20px black;
}

.card-background{
  width: 100vw;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 10px;
  background-color: var(--main-color);
}

.bt-downloadCV{
  width: 70vw;
  height: 10vh;
  font-size: 20px;
  color: #FFF;
  background-color: black;
  border-width: 0;
  margin-top: -50vh;
  margin-bottom: 15vh;
  box-shadow: 0px 10px 40px -20px #000;
}

.paragraph{
  margin-left: 15vw;
  margin-top: 20vh;
  font-size: 15px;
  max-width: 70%;
  width: 60vw;
  text-align: justify;
  color: black;
  font-style: italic;
}
#title.paragraph{
  max-width: 30%;
}
#description.paragraph{
  max-width: 80%;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.logos{
  width: 40px;
  margin-left: 20px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}
.logos:hover{
  filter: invert(100%);
}

.bottom-arrow{
  background-color: var(--secondary-color);
  width: 100vw;
  height: 15vh;
  margin-bottom: 10vh;
}

.bottom-arrow > .arrow{
  margin-top: 5vh;
  width: 50px;
  height: 50px;
}
/* --------------- */


/* TIMELINE */
.timeline-element{
  margin-top: 20px;
  width: 100%;
  height: 60px;
}
.timeline-element > div > p > .element-title{
  font-size: 12px;
  text-align: left;
}
.timeline-element > div{
  margin-top: 10px;
}
.timeline-element > div > .element-description{
  float: left;
  width: 50%;
  font-size: 15px;
  text-align: left;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.timeline-pic{
  margin-left: 15%;
  width: 70px;
  height: 60px;
  border-radius: 4px;
}
.timeline-element-year{
  opacity: 0.3;  
}




/* DESKTOP VERSION */
@media only screen and (min-width: 900px){  

  .card-background{  
    padding: 10vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 80vw;  
    margin-top: 0;
    margin-bottom: -6vh;  
  }

  .profile-pic{ 
    margin-top: -50vh;
    margin-bottom: 25vh;
    margin-left: 20vw;
    width: 20vw;
    box-shadow: 0px 0px 300px -20px #000;
  }

  .paragraph{
    font-size: 20px;
    max-width: 20%;
  }
  #description.paragraph{
    margin-top: 0;
    max-width: 30%;
  }

  .bt-downloadCV{
    margin: 0 auto;
    margin-top: -70vh;
    margin-bottom: 10vh;
    width: 100vw;    
    height: 15vh;
    background-color: black;
    color: white;
    transition: all .5s ease-in;
  }
  .bt-downloadCV:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 50px -20px #000;
  }
}
