/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url("styles.css");

/* TECH SKILLS */
.skill-box{
    width: 70vw;
    margin: 0 auto;
    padding: 30px;
    border-radius: var(--border-radius-main);
    background-color: white;
    box-shadow: 0px 0px 30px -20px black;
    margin-bottom: 10vh;
}

.skill-bar{
    margin: 0 auto;
    margin-top: 15px;
    height: 10px;
    width: 60vw;
    border-radius: var(--border-radius-main);
    background-color: #EEEEEE;
}

.skill-fill{
    background: #000;
    height: 100%;
    border-radius: inherit;
    transition: width .5s ease-in;
}
/* ------------- */


/* LANG SKILLS */
.langskill-box{
    width: 70vw;
    margin: 0 auto;
    padding: 30px;
    border-radius: var(--border-radius-main);
    background-color: #2EDBC1;
    box-shadow: 0px 0px 30px -20px black;
    margin-bottom: 10vh;    
}

.lang-skill-title{
    font-size: 11px;
}

.lang-skill-subtitle{
    font-size: 11px;
    color: #BDBDBD;
    font-weight: bold;
}

.lang-box{
    display: inline-block;    
    width: 20vw;
    border-radius: var(--border-radius-small);
    margin-top: 30px;
    margin-left: 10px;
    background-color: white;
    box-shadow: 0px 0px 30px -20px black;
}

.flag-lang{
    width: 15vw;
    margin: 0 auto;
}

.skill-text{
    font-size: 15px;
    color: #000;
}


