@import url('https://fonts.googleapis.com/css?family=Roboto');

.skill-box{
    width: 60%;
    height: 80%;
    border-radius: 5px;
    background-color: #FFF;
    margin-left: 20%;
    box-shadow: 0px 10px 70px -20px #757575;

}

.skill-box.lang{
    width: 20%;
    height: 40%;
    margin: 0 auto;
    margin-left: 20px;
    display: inline-block;
}

.lang-skill-title{
    font-size: 30px;
    margin-top: 50px;
}

.lang-skill-subtitle{
    font-size: 20px;
    color: #BDBDBD;
    font-weight: bold;
}

.flag-lang{
    height: 40%;
    width: auto;
    margin: 0 auto;
    margin-top: 10%;
}

.flag-lang:hover{
    box-shadow: 0px 0px 70px -20px #757575;
}

.skill-text{
    font-size: 15px;
    color: #000;
}


.skill-bar{
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    height: 1%;
    width: 20%;
    border-radius: 50px;
    background-color: #EEEEEE;
}

.skill-fill{
    background: #000;
    height: 100%;
    border-radius: inherit;
    transition: width .5s ease-in;
}

