@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  background: #FFF;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%;
  margin: 0px;
}

.header{
  display: grid;
  grid-template-columns: 100px 100px;
  padding: 2em;
  position: fixed;
  background-color: #FFF;
  width: 100%;
}

.header img{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
}

@media (min-width: 660){
  .header img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: sticky;
  }
}

.header .menu{
  position: fixed;
  right: 50px;
  top: 10px;
  z-index: 100;
  width: 100px;
  height: 100px;
  background: #FFF;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  align-items: center;
}

.header .menu b{
  font-size: 15px;
  top: 2000px;
  text-align: right;
}

.header .hamburger{
  position: absolute;
  top: 50px;
  left: 30px;
  width: 40px;
  height: 4px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 1.5s ease-in-out;
}
.header .hamburger::after,
.header .hamburger::before{
  transition: .5s ease-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
.header .hamburger::before{
  top: -10px;
}
.header .hamburger::after{
  top: 10px;
}
  
.header input{
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 200;
  width: 100px;
  height: 100px;
  background: #FFF;
  border-radius: 50%;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  opacity: 0;
}
.header input:checked + .menu{
  box-shadow: 0 0 0 100vw #212121, 0 0 0 100vh #212121;
  border-radius: 0;
  background: #212121;
}
.header input:checked + .menu .hamburger{
  background: #FFF;
  transform: rotate(45deg);
}
.header input:checked + .menu .hamburger:after{
  transform: rotate(90deg);
  opacity: 0;
}
.header input:checked + .menu .hamburger:before{
  background: #FFF;
  transform: rotate(90deg);
  top: 0;
}

.header input:checked + .menu + ul {
  display: inline;
}

.header input:checked + .menu + b{
  color: #FFF;
}

.header ul{
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  list-style: none;
}
@media (max-width: 660px){
  .header ul{
    left: 45%;
  }
}

.header a{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 40px;
  margin-bottom: 1em;
  display: block;
  color: white;
  transition: 2s 0s ease-in;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing:border-box;
}
.header a:hover{
  border-color: #616161;
  border-width: 1px;
  text-shadow: 0px 14px 40px #000000;
  border-style: hidden hidden solid hidden;
  animation-play-state: running;
  animation-name: menu-box;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

section{
  height: 100vh;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

  
.center-it img { 
  position: absolute;
  top: 45%;
  right: null;
  bottom: null;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 550px){
  center-it{
    transform: 0.5s ease-in-out;
    position: absolute;
    top: 80%;
    right: null;
    bottom: null;
    left: 50%;
  }
}

  
.mouse-scroll{
  display: inline-block;
  width: 12px;
  z-index: 50;
  height: 50px;
  border-radius: 12px; 
  border: 2px solid #000;
  text-align: center; 
}
.mouse-scroll::after {
  display: inline-block;
  width: 20px;
  background-color: #000; 
  border-radius: 50%;
  content: "";
  z-index: 50;
  animation-name: scroll;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
  


#profile-page #profile-pic img{
  width: 30vw;
  height: auto;
  border-radius: 50%;
  left: 20%;
}

.paragraph{
  font-size: 30px;
  max-width: 70%;
  text-align: left;
  color: #000;
}

/*<ANIMATIONS>*/

@keyframes menu-box{
  0% {
    width: 100px;
    opacity: 0;
  }
  50% {
    width: 300px;
    border-color: white;
    opacity: 1;
  }
  100% {
    width: 200px;
  }
}
@keyframes menu-box-bars{
  100%{
    opacity: 0;
  }
}
@keyframes scroll{
  0% { 
    transform: translateY(0); 
  }
  50% {
    transform: translateY(20px); 
  }
  100% { 
    transform: translateY(0); 
  }  
}



@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

