body {
  max-width: 1020px;
  margin: 100px auto;
  font-weight: 300;
  font-size: 20px;
  font-family: sans-serif;
  animation: 1.5s ease-out reveal;
}

@keyframes reveal {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

img {
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px -15px black;
}

img.logo {
  filter: grayscale(100%);
  height: 100px;
  width: auto;
}

.negrito {
  font-weight: 900;
}
/* --- */

.fundo-cinzento {
  background-color: rgba(230, 230, 230, 1);
}

.titulo-seccao {
  margin-top: 100px;
}

/* --- */
.titulo-seccao-formulario {
  font-size: 20px;
}

.formulario {
  display: flex;
  justify-content: start;
}

.formulario .col-esq {
  margin-right: 200px;
}

/* --- */
ol { counter-reset: item; list-style-type: none; }
ol > li:before { content: counters(item, ".") ". "; counter-increment: item; font-weight: 900; }
ul { list-style-type: disc; }
li > p { margin-left: 15px; }
li > div { margin-left: 15px; }

.alinea-principal {
  margin-top: 50px;
}

.linha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
}
.coluna {
  display: flex;
  flex-direction: row;
}

div.com-borda {
  border: 3px solid black;
  padding: 20px;
  width: 100%;
}

/* --- */
table .esquerda {
  text-align: left;
}

table, th, td {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
}