
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Viga');

:root{
  --title-color: #0E0E32;
  --main-background-color: #EFF2FD;
}

*{
    font-display: fallback;
    font-family: 'Viga', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  color: black;
}

.top-bar{
    top: 0;
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    height: 40px;
    background-color: var(--title-color);
}

.top-bar > .text{
    top: 0;
    color: white;
}
.top-bar > .text > p{
  text-align: center;
}

.content{
    color: black;
    justify-content: center;
    text-align: left;
}

.blog-content{
    max-width: 45vw;
    width: 50vw;
    margin-bottom: 20vh;
    margin-top: 10vh;
}


.blog-footer{
    background-color: black;
    width: 100vw;
    height: 30px;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

.btn-back-to-main{
    text-align: center;
    color: #4CAF50;
    font-size: 20px;
    width: 100%;
}
.btn-back-to-main>a{
    color: #4CAF50;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Roboto Mono', monospace;
}
.btn-back-to-main > a:link{
    color: #4CAF50;
}
.cursor {
    height: 5px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 10px solid #4CAF50;
    background-color: #4CAF50;
}



@media only screen and (max-width: 850px){
    body{
        display: block;
    }
    .content-left > .text{
        background-color: black;
        border-bottom: 2px solid #4CAF50;
        box-shadow: 0px 0px 60px -30px #4CAF50;
        max-width: 80vw;
        width: 100vw;
        padding: 10vw;
        margin-left: 0;
        margin-top: 0;
        position: relative;
    }
    .content-right{
        width: 100vw;
    }

    .blog-content{
        padding: 30px;
        max-width: 80vw;
        width: 80vw;
        margin-top: 0;
    }
}
